@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

/* Default stles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: rgb(236, 236, 236);
  padding: 1rem 0;
  text-shadow: 1px 2px 2px black;
  overflow-x: hidden;
}

/* Main stles */
main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

section {
  width: 91vw;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.5);
}
#cover-page {
  justify-content: center;
  padding: 0;
}
.cover-img {
  height: 100vh;
  width: 91vw;
  border-radius: 10px;
}
header {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}
#introduction {
  gap: 1rem;
}
.intro-heading {
  text-align: center;
  font-size: 2.7rem;
  text-decoration: underline;
  font-weight: 700;
}
p {
  text-indent: 20px;
  font-size: 1.35rem;
  line-height: 1.7rem;
}
/* power stles */
.names {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  font-weight: 700;
}
.purple {
  color: purple;
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.orange {
  color: Orange;
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.fire {
  color: red;
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.water {
  color: blue;
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.ice {
  color: aqua;
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.air {
  color: rgb(151, 197, 172);
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.earth {
  color: rgb(53, 41, 41);
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.gravity {
  color: rgb(29, 10, 29);
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.light {
  color: yellow;
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.dark {
  color: black;
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.space {
  color: rgb(211, 188, 228);
  text-shadow: 0px 10px 17px black;
  font-weight: 500;
}
.firewater {
  background: linear-gradient(to right bottom, red, blue);
  background-clip: text;
  text-shadow: 0px 10px 17px black;
  color: transparent;
}
.fireearth {
  background: linear-gradient(to right bottom, red, rgb(53, 41, 41));
  background-clip: text;
  text-shadow: 0px 10px 17px black;
  color: transparent;
}
.fireair {
  background: linear-gradient(to right bottom, red, rgb(151, 197, 172));
  background-clip: text;
  text-shadow: 0px 10px 17px black;
  color: transparent;
}
.waterearth {
  background: linear-gradient(to right bottom, blue, rgb(53, 41, 41));
  background-clip: text;
  text-shadow: 0px 10px 17px black;
  color: transparent;
}
.waterice {
  background: linear-gradient(to right bottom, blue, aqua);
  background-clip: text;
  text-shadow: 0px 10px 17px black;
  color: transparent;
}
.attack {
  background: linear-gradient(
    to right bottom,
    rgb(0, 0, 0),
    rgb(148, 120, 120),
    rgb(56, 58, 40),
    rgb(0, 0, 0)
  );
  background-clip: text;
  text-shadow: 0px 10px 17px black;
  color: transparent;
}

@media screen and (min-width: 768px) {
  body {
    padding: 1.5rem 0;
  }

  main {
    gap: 2.8rem;
  }

  section {
    padding: 2.3rem;
  }
  .intro-heading {
    font-size: 2.4rem;
    text-decoration: underline;
    font-weight: 700;
  }
  p {
    text-indent: 20px;
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}

@media screen and (min-width: 820px) {
  body {
    padding: 1.5rem 0;
  }

  main {
    gap: 2.8rem;
  }

  section {
    width: 90vw;
    display: flex;
    padding: 2.3rem;
  }
  .cover-img {
    width: 90vw;
  }
  .intro-heading {
    font-size: 2.4rem;
  }
  p {
    text-indent: 20px;
    font-size: 1.61rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 1.5rem 0;
  }

  main {
    gap: 2.8rem;
  }

  section {
    width: 93vw;
    padding: 1.7rem;
  }
  .cover-img {
    width: 93vw;
  }
  .intro-heading {
    font-size: 3rem;
  }
  p {
    text-indent: 20px;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  body {
    padding: 1.5rem 0;
  }

  main {
    gap: 2.8rem;
  }

  section {
    width: 93vw;
    padding: 1.7rem;
  }
  .heading {
    position: absolute;
    top: 60%;
    left: 24%;
    font-size: 7.7rem;
  }
  .intro-heading {
    font-size: 3.3rem;
  }
  p {
    text-indent: 20px;
    font-size: 2.17rem;
  }
}
