* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: rgb(236, 236, 236);
  padding: 1rem 0;
  text-shadow: 1px 2px 2px black;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

section {
  width: 90vw;
  height: 40rem;
  display: flex;
  flex-direction: column;
  padding: 1.7rem;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.5);
}
#cover-page {
  position: relative;
  justify-content: center;
}
.coverpage {
  position: absolute;
  top: 5%;
  width: 97vw;
  height: 100%;
  display: flex;
}
.cover-img {
  height: 77vh;
  width: 75.8vw;
  border-radius: 10px;
}
.heading {
  position: absolute;
  top: 80%;
  left: 7%;
  font-weight: 900;
  font-size: 2.7rem;
}
#introduction {
  gap: 1.1rem;
}
.intro-heading {
  text-align: center;
  font-size: 2.7rem;
  text-decoration: underline;
  font-weight: 700;
}
p {
  text-indent: 20px;
  font-size: 1.08rem;
}

@media screen and (min-width: 768px) {
  body {
    padding: 1.5rem 0;
  }

  main {
    gap: 2.8rem;
  }

  section {
    width: 90vw;
    height: 40rem;
    display: flex;
    padding: 2.3rem;
  }
  .cover-img {
    height: 54.5vh;
    width: 80vw;
    border-radius: 10px;
  }
  .heading {
    position: absolute;
    top: 68%;
    left: 18%;
    font-size: 5rem;
  }
  #introduction {
    gap: 2rem;
  }
  .intro-heading {
    text-align: center;
    font-size: 2.4rem;
    text-decoration: underline;
    font-weight: 700;
  }
  p {
    text-indent: 20px;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 820px) {
  body {
    padding: 1.5rem 0;
  }

  main {
    gap: 2.8rem;
  }

  section {
    width: 90vw;
    height: 40rem;
    display: flex;
    padding: 2.3rem;
  }
  .cover-img {
    height: 48vh;
    width: 80vw;
    border-radius: 10px;
  }
  .heading {
    position: absolute;
    top: 68%;
    left: 18%;
    font-size: 5rem;
  }
  #introduction {
    gap: 2rem;
  }
  .intro-heading {
    text-align: center;
    font-size: 2.4rem;
    text-decoration: underline;
    font-weight: 700;
  }
  p {
    text-indent: 20px;
    font-size: 1.61rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 1.5rem 0;
  }

  main {
    gap: 2.8rem;
  }

  section {
    width: 93vw;
    height: 40rem;
    padding: 1.7rem;
  }
  .cover-img {
    height: 42.7vh;
    width: 88vw;
    border-radius: 10px;
  }
  .heading {
    position: absolute;
    top: 70%;
    left: 24%;
    font-size: 5.7rem;
  }
  #introduction {
    gap: 2rem;
  }
  .intro-heading {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    font-weight: 700;
  }
  p {
    text-indent: 20px;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  body {
    padding: 1.5rem 0;
  }

  main {
    gap: 2.8rem;
  }

  section {
    width: 93vw;
    height: 40rem;
    padding: 1.7rem;
  }
  .cover-img {
    height: 90vh;
    width: 89vw;
    border-radius: 10px;
  }
  .heading {
    position: absolute;
    top: 60%;
    left: 24%;
    font-size: 7.7rem;
  }
  #introduction {
    gap: 2rem;
  }
  .intro-heading {
    text-align: center;
    font-size: 3.3rem;
    text-decoration: underline;
    font-weight: 700;
  }
  p {
    text-indent: 20px;
    font-size: 2.17rem;
  }
}
