* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: whitesmoke;
}

.heading {
  background-image: url(./images/colorful\ full\ b\ 21888d2b-59d5-479b-afff-c740ae09db53.png);
}
